@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap"); /* @import fonts first */

/* color themes */
:root.pyro-light {
    /* foreground is bright to dark (larger number = more important) */
    --color-fg0: #4C566A;
    --color-fg1: #434C5E;
    --color-fg2: #3B4252;
    --color-fg3: #2E3440;
    /* background is bright to dark (larger number = more important) */
    --color-bg0: #FFFFFF;
    --color-bg1: #ECEFF4;
    --color-bg2: #E5E9F0;
    --color-bg3: #D8DEE9;
    /* ui colors (larger number = more commonly used) */
    --color-ui0: #9d0208;
    --color-ui1: #ffba08;
    --color-ui2: #f48c06;
    --color-ui3: #d00000;
    /* state colors */
    --color-st0: #BF616A; /* error state */
    --color-st1: #D08770; /* danger, advanced functionality */
    --color-st2: #EBCB8B; /* warning state */
    --color-st3: #A3BE8C; /* success state */
    --color-st4: #B48EAD; /* rarely used, uncommon functionality */
}

:root.pyro-dark {
    /* foreground is dark to bright (larger number = more important) */
    --color-fg0: #D8DEE9;
    --color-fg1: #E5E9F0;
    --color-fg2: #ECEFF4;
    --color-fg3: #FFFFFF;
    /* background is dark to bright (larger number = more important) */
    --color-bg0: #2E3440;
    --color-bg1: #3B4252;
    --color-bg2: #434C5E;
    --color-bg3: #4C566A;
    /* ui colors (larger number = more commonly used) */
    --color-ui0: #9d0208;
    --color-ui1: #ffba08;
    --color-ui2: #f48c06;
    --color-ui3: #d00000;
    /* state colors */
    --color-st0: #BF616A; /* error state */
    --color-st1: #D08770; /* danger, advanced functionality */
    --color-st2: #EBCB8B; /* warning state */
    --color-st3: #A3BE8C; /* success state */
    --color-st4: #B48EAD; /* rarely used, uncommon functionality */
}

body {
    background-color: var(--color-bg0);
    color: var(--color-fg3);
}

/*
    Typography
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: var(--color-fg3);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p, a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: var(--color-fg3);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, button, select, textarea, optgroup, option, label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-fg2);
}

code {
    font-family: monospace;
    background-color: var(--color-bg1);
    border-radius: 3px;
    padding: 0 3px;
}

/*
    Components
*/
/* Horizontal navbar (vertical orientation may come soon) */
pyro-nav {
    display: flex;
    width: 100%; /* navbar expands to fit container size */
}

/* Must be a pyro-nav child element, used for alignment purposes only */
/* data-align: [none | left | center | right], used for aligning pyro-nav elements. Defaults to none. */
pyro-navitem {
    display: block;
}

pyro-navitem[data-align="left"] {
    margin-right: auto;
}

pyro-navitem[data-align="center"] {
    margin-left: auto;
    margin-right: auto;
}

pyro-navitem[data-align="right"] {
    margin-left: auto;
}

/* Button */
/* data-variant: [none | secondary | disabled | danger], for different button variants. Defaults to none (primary button). */
/* data-animate: [none], used to apply animations to buttons. Defaults to none. */
pyro-button::part(button) {
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
    font-family: "Poppins", sans-serif;
    color: var(--color-bg0);
    border: none;
    background-color: var(--color-fg0);
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

pyro-button::part(button):hover {
    background-color: var(--color-fg1);
}

pyro-button[data-variant="secondary"]::part(button) {
    color: var(--color-fg3);
    background-color: var(--color-bg3);
}

pyro-button[data-variant="secondary"]::part(button):hover {
    background-color: var(--color-bg2);
}

pyro-button[data-variant="disabled"]::part(button) {
    color: var(--color-fg2);
    background-color: var(--color-bg1);
    cursor: not-allowed;
}

pyro-button[data-variant="disabled"]::part(button):active {
    padding: 8px 10px;
    margin: 0px;
}

/* add hover animation to this */
pyro-button[data-variant="danger"]::part(button) {
    color: #FFFFFF;
    background-color: var(--color-st0);
}

/* Text / Email (?) Input */
pyro-textinput::part(input) {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-fg2);
    background-color: transparent;
    border: 2px solid var(--color-bg3);
    border-radius: 5px;
    padding: 8px 10px;
}

pyro-textinput::part(input):focus {
    outline: var(--color-fg3) outset 2px;
}

/* Checkbox Input */
pyro-checkbox {
    padding: 5px;
    border-radius: 5px;
}

pyro-checkbox::part(input) {
    cursor: pointer;
}

pyro-checkbox::part(label) {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

/* Radio Input */

/* Search Input */

/* File Input */
