@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap"); /* @import fonts first */

/* color themes */
:root.pyro-light {
    /* foreground is bright to dark (larger number = more important) */
    --color-fg0: #4C566A;
    --color-fg1: #434C5E;
    --color-fg2: #3B4252;
    --color-fg3: #2E3440;
    /* background is bright to dark (larger number = more important) */
    --color-bg0: #FFFFFF;
    --color-bg1: #ECEFF4;
    --color-bg2: #E5E9F0;
    --color-bg3: #D8DEE9;
    /* ui colors (larger number = more commonly used) */
    --color-ui0: #9d0208;
    --color-ui1: #ffba08;
    --color-ui2: #f48c06;
    --color-ui3: #d00000;
    /* state colors */
    --color-st0: #BF616A; /* error state */
    --color-st1: #D08770; /* danger, advanced functionality */
    --color-st2: #EBCB8B; /* warning state */
    --color-st3: #A3BE8C; /* success state */
    --color-st4: #B48EAD; /* rarely used, uncommon functionality */
}

:root.pyro-dark {
    /* foreground is dark to bright (larger number = more important) */
    --color-fg0: #D8DEE9;
    --color-fg1: #E5E9F0;
    --color-fg2: #ECEFF4;
    --color-fg3: #FFFFFF;
    /* background is dark to bright (larger number = more important) */
    --color-bg0: #2E3440;
    --color-bg1: #3B4252;
    --color-bg2: #434C5E;
    --color-bg3: #4C566A;
    /* ui colors (larger number = more commonly used) */
    --color-ui0: #9d0208;
    --color-ui1: #ffba08;
    --color-ui2: #f48c06;
    --color-ui3: #d00000;
    /* state colors */
    --color-st0: #BF616A; /* error state */
    --color-st1: #D08770; /* danger, advanced functionality */
    --color-st2: #EBCB8B; /* warning state */
    --color-st3: #A3BE8C; /* success state */
    --color-st4: #B48EAD; /* rarely used, uncommon functionality */
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg0);
    color: var(--color-fg3);
}

/*
    Typography
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: var(--color-fg3);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p, a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: var(--color-fg3);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input, button, select, textarea, optgroup, option, label {
    font-family: inherit;
    font-size: 16px;
    color: var(--color-fg2);
}

code {
    font-family: monospace;
    background-color: var(--color-bg1);
    border-radius: 3px;
    padding: 0 3px;
}